
@import url('https://fonts.googleapis.com/css2?family=Strait&display=swap');

html, 
body {
  font-family: Strait;
  background-color: #000;
  color: #ffffffed;
  background-image: url('/space-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


.outer-container {
  margin: 0 auto;
  padding: 0;
  display: block;
  background: rgba(0, 0, 0, 0.193);


}
  
.main-container {
  margin: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  flex-wrap: wrap;
}


.main-left-container {
  padding: 15px;
  margin-right: 100px;
  border-radius: 30px;
  width: 400px;
 
  
}

.main-right-container {
  justify-content: center;
  width: fit-content;
  

}

img {
  border: 5px solid #ffffffbd;
  border-radius: 30px;
  max-height: 80vh;
  max-width: 100%;
}

h1{
  text-align: center;
  font-size: 2.5rem;
  margin: 10px;
  padding-left: 10px;
  padding-top: 10px;
  display: flex; 
  align-items: center;
  justify-content: center
}


h2 {
  text-align: center;
  font-size: 2rem;
  margin: 10px;
  padding-left: 10px;
  color: #c43232;

}

h3 {
  text-align: center;
  font-size: 1.5rem;
  margin: 10px;
  padding-left: 10px;
  color: #456ee0d8;
}

p {
  text-align: center;
  font-size: 1.1rem;
  margin: 10px;
  padding-top: 30px;
  padding-left: 10px;
  line-height: 1.7rem;
  color: #ffffffbd;
}

span img {
  border: none;
  height: 1em;
  padding-left: 5px;
  padding-right: 5px;
}